@page
@model IndexModel
@{
    ViewData["Title"] = "School Locker";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">School Locker</h1>
        <p class="lead">Lets you manage all the lockers in your school.</p>
    </div>
</div>

